aiohttp==3.8.4
aiomysql==0.2.0
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.2
attrs==23.1.0
charset-normalizer==3.2.0
discord.py==2.3.1
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
pefile==2023.2.7
pegen==0.2.0
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.4
PyMySQL==1.1.0
pypng==0.20220715.0
python-dotenv==1.0.0
pytz==2023.3
pywin32-ctypes==0.2.2
yarl==1.9.2
zstd==1.5.5.1
